
@font-face {
    font-family: "TuesdayNight-Regular";
    src: url("TuesdayNight-Regular.otf");
    src: 
    url("fonts/tuesdaynight-regular-webfont.woff") format("woff"),
    url("TuesdayNight-Regular.otf") format("opentype");
}



body{
    width: 100vw;
    overflow-x: hidden;
}




@font-face {
    font-family: "museo";
    src: url("fonts/MuseoSans_0.otf");
    src: 
    /* url("fonts/MuseoSans.otf") format("woff"), */
    url("fonts/MuseoSans_0.otf") format("opentype");
}


.heromobile{
    display: none;
}


.hero{
    background-image: radial-gradient(#ffffff, #e6e6e6);
    background-attachment: fixed;
    height: 100vh !important;
   
}




.rule{
    border-left: 1px solid rgba(255, 255, 255, 0.144);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    animation-name: ruleanim;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
}

@keyframes ruleanim {
    from {height: 0%;}
    to {height: 100%;}
  }


.rule2{
    border-left: 1px solid rgba(255, 255, 255, 0.144);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    
    animation-name: ruleanim;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
}




.logo{
    height: 6vh;
    margin-top: 3vh;
}

.burger{

    position: absolute;
    top: 6vh;
    right: 0;
    z-index: 999;
}


.chair{
    height: 70vh;
    position: absolute;
    bottom: 0;
    left: 5vw;
    display: none;
    z-index: 50;
}

.bbar{
    width: 30px;
    height: 3px;
    border-radius: 10px;
    background-color: rgb(88, 88, 88);
    margin-bottom: 5px;
}


.whitebar{
    background-color: hsla(0, 0%, 0%, 0.164);
    border-radius: 50px;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.nav-link{
    color: #ffffff !important;
}


.nav-link:hover{
    font-weight: 500;
}

.textbox{
    margin-top: 10vh;
    color: rgb(122, 122, 122);
    /* display: none; */
    position: relative;
    z-index: 50;
}

.textbox h1{
    font-family: 'museo' !important;
    font-weight:900;
    font-style:normal;
    font-size: 4rem !important;
    color: rgb(122, 122, 122) !important;
    position: relative;
    /* right: 100px; */
    display: none;
}

.textbox p{
    display: none;
    font-size: 2rem !important;
}



.hoverwhite{
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 0vw;
    background-color: white;
    z-index: 997;
    display: block;
}


.contactboxes{
    position: absolute;
    left: 0px;
    bottom: 10vh;
    color: white;
    list-style: none;
    float: left;
    display: none;
    padding: 15px;
}


.contactboxes li{
    display: inline-block;
    padding: 5px;
    margin: 0px;
}

.cb1{
    background-color: #414141;
}

.cb2{
    background-color: #b7041b;;
}

.cb a{
    color: white !important;
}





.scrolldown{
   background: rgb(39, 39, 39);
   border: none;
   padding-left: 10px;
   padding-right: 10px;
   padding-top: 5px;
   padding-bottom: 5px !important;
   outline: none;
   color: white;
   position: relative;
   outline: none !important;
   width: 10vw;
   text-align: left !important;
   display: none;
   overflow: hidden;
}





.scrolldown:hover{
    background-color: white;
    color: black;
    text-align: center !important;
}



.btnarrow{
    color: white;
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
}



.btnroll{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 0%;
    background-color: #da2128;
}


.scrolldown2{
    background: rgb(39, 39, 39);
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px !important;
    outline: none;
    color: white;
    position: relative;
    outline: none !important;
    width: 10vw;
    text-align: left !important;
    /* display: none; */
    overflow: hidden;
 }
 
 
 
 
 
 .scrolldown2:hover{
     background-color: white;
     color: black;
     text-align: center !important;
 }

 .btnroll2{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 0%;
    background-color: #da2128;
}


.scrolldown3{
    background: rgb(39, 39, 39);
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px !important;
    outline: none;
    color: white;
    position: relative;
    outline: none !important;
    width: 10vw;
    text-align: left !important;
    /* display: none; */
    overflow: hidden;
 }
 
 
 
 
 
 .scrolldown3:hover{
     background-color: white;
     color: black;
     text-align: center !important;
 }

 .btnroll3{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 0%;
    background-color: #da2128;
}
 



.xterside{
    height: 100vh;
}


.xter{
    position: absolute;
    bottom: 50px;
    opacity: 0;

}







.footer{
    background-color: #131313;
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px; 
}


.hidebig{
    display: none !important;
}

.container{
    position: relative !important;
}


.mobilechair{
    display: none;
}


.mobileburger{
    display: none;
}



.second{
    min-height: 100vh;
    padding-top: 20vh;
    padding-bottom: 20vh;
    position: relative;
}


.second h1{
    font-family: 'Nunito', sans-serif;
}

.redbold{
    color: #b7041b;
    font-weight: 600;
}


.pointcard{
    position: relative;
}

.pointtext{
    margin-left: 30px;
    padding-left: 10px;
    color: #b1b1b1;
}

.iconbox{
    width: 30px !important;
    height: 30px !important;
    background-color: #da2128;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}

.iconbox i{
    height: 25px;
    margin-top: 7px;
    margin-left: 7px;
}


.montage{
    height: 80vh;
}


.car{
    width: 25vw;
    height: auto;
    position: absolute;
    right: 0;
    bottom: -30vh;
}


.metro{
    position: absolute;
    bottom: 0px;
    width: 50vw;
    right: 0vw;
    opacity: 0.6;
}



.pointer{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 15px;
    width: auto;
    transform: translate(-50%,-50%);
    pointer-events: none;
    box-sizing: border-box;
    transition: 0.2s;
    z-index: 60;
}


.pointer img{
    height: 100%;
}





/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000000; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #1f1f1f; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #0e0e0e; 
}












































@media only screen and (max-width: 960px) {


    .xter{
        display: none;
    }

    .xterside{
        display: none;
    }

    .textbox{
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        margin-top: 0vh;
        color: rgb(122, 122, 122) !important;
        position: relative;
        z-index: 20;
    }

   .car{
       display: none;
   }

   


    .textbox h1{
        /* font-family: 'TuesdayNight-Regular' !important; */
        /* font-weight:normal; */
        /* font-style:normal; */
        font-size: 2rem !important;
        text-align: center;
        color: rgb(122, 122, 122) !important;
    }

    .textbox p{
        font-size: 0.8rem;
    }


    .final h1{
    
        font-size: 2.8rem;
        margin-bottom: 25px;
      
    }

    .navbar-nav{
        display: none !important;
    }


    .second{
        padding-bottom: 0vh;
    }


   
    .illuside{
        padding-top: 0vh;
    }

    
    .hero{
            background-image: radial-gradient(#ffffff, #e6e6e6);
            background-attachment: fixed;
            height: auto !important;
    }


    .pointer{
        display: none;
    }


    .scrolldown{
        position: relative;
        width: 50vw;
        text-align: left !important;
        display: none;
        overflow: hidden;
        margin: 0 auto;
     }

     .scrolldown2{
        position: relative;
        width: 50vw;
        text-align: left !important;
        display: none;
        overflow: hidden;
        margin: 0 auto;
     }


     .scrolldown3{
        position: relative;
        width: 50vw;
        text-align: left !important;
        display: none;
        overflow: hidden;
        margin: 0 auto;
     }



     .mobilechair{
        display: block;
        position: absolute;
        bottom: 0;
        width: 90vw;
        left: 5vw;
    }


    .mobileburger{
        display: inline-block;
        position: absolute;
        top: 3vh;
        right: 20px;
        z-index: 999;
    }

    .burger{
        display: none;
    }


    .contactboxes{
        display: none !important;
    }


    .metro{
        display: none;
    }






    

    

}



